@media (max-width: 990px) {
    /* ===== Layout ===== */
    .main-content,
    .search-box {
        width: 94%;
        margin: 80px auto 30px auto;
    }

    /* ===== Nav Visibility ===== */
    .nav-bg-pc {
        display: none !important;
    }

    .nav-bg-mb {
        display: flex !important;
    }

    /* ===== Footer Adjustments ===== */
    .footer-links .links .link {
        font-size: 10px;
        
        margin: 0 5px;
    }

    .footer-links .separator {
        font-size: var(--footer-font-size-sm);
    }

    .footer .subtext,
    .footer .unloggin {
        font-size: var(--footer-font-size-sm);
    }
    .user-seccion .user-icon img{
        width: 60%;
        height: auto;
    }
    .user-seccion{
        height: 30vw;
    }
    .tab-buttons button{
        font-size: 2vw;
    }
    .user-info .user-name{
        font-size: 6vw;
    }
    .user-info .user-tag{
        font-size: 12px;
    }
    .user-info .user-date{
        font-size: 12px;
    }
    .user-seccion .user-icon{
        margin-top: 4vw;
    }
    .noticia-post-seccion-2{
        height: auto;
        flex-direction: column;
    }
    .noticia-post-info{
        width: auto;

    }
    .noticia-post-banner{
        width: auto;
        margin: 0;
    }
    .noticia-post-seccion-4 p{  
        font-size: 13px;
    }
    .noticia-post-info-seccion-2{
        font-size: 1.3vw;
    }
    .recurso-card{
        height: 170px;
    }
    .recurso-card .content .subcontent{
        font-size: 2vw;
    }
    .recurso-card .content{
        left:170px;
    }
    .main-header{
        font-size: 4vw;
    }
    .recurso-card img {
        height: 80%;
        width: 150px;
    }
    .top-card {
        width: 95%;
        height: 190px; 
    }
    .top-card .top-subcard .puntuacion{
        height:14vw;
        aspect-ratio: 1/1;
    }
    .top-card img{
        height: 100%;
        width: 17vw;
    }
    .top-card .top-subcard .puntuacion .score{
        font-size: 4vw;
    }
    .top-card{
        height: 20vw;
    }

    .top-subcard .content .text{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5; /* Número de líneas visibles */
        font-size: 1.7vw;
        max-height: calc(1.2em * 6); /* Aproximadamente 3 líneas */
        color: #c4c4c4;
    }

    .main-header-tops .title{
        font-size: 4vw;
    }
    .main-header-tops{
        height: 90vw;
    }
    .main-header-tops .text{
        font-size: 2vw;
        width:  82vw;
    }
    .main-header-tops img {
        height: 25vw;
        width: 80vw;
        border-radius: 2vw;
    }


    .main-header-analisis{
        height: 90vw;
    }
    .main-header-analisis .text{
        font-size: 2vw;
        width:  82vw;
    }
    .main-header-analisis .title{
        font-size: 4vw;
    }
    .main-header-analisis img {
        height: 25vw;
        width: 80vw;
        border-radius: 2vw;
    }


    .main-header-recursos{
        height: 90vw;
    }
    .main-header-recursos .text{
        font-size: 2vw;
        width:  82vw;
    }
    .main-header-recursos .title{
        font-size: 4vw;
    }
    .main-header-recursos img {
        height: 25vw;
        width: 80vw;
        border-radius: 2vw;
    }

    .analisis-content{
        grid-template-columns: 1fr;
    }
    .analisis-card {
        height: 66vw;
    }
    .analisis-card .desc-card{
        height: 20vw;
    }
    .analisis-card .desc-card .title{
        font-size: 2.5vw;
    }
    .analisis-card .desc-card .text{
        font-size: 1.5vw;
    }
    .analisis-card .desc-card .date{
        font-size: 2vw;
    }
    

    .main-header-guias{
        height: 90vw;
    }
    .main-header-guias .text{
        font-size: 2vw;
        width:  82vw;
    }
    .main-header-guias .title{
        font-size: 4vw;
    }
    .main-header-guias img {
        height: 25vw;
        width: 80vw;
        border-radius: 2vw;
    }
    .guias-content{
        grid-template-columns: 1fr;
    }
    .guias-card {
        height: 66vw;
    }
    .guias-card .desc-card{
        height: 20vw;
    }
    .guias-card .desc-card .title{
        font-size: 2.5vw;
    }
    .guias-card .desc-card .text{
        font-size: 1.5vw;
    }
    .guias-card .desc-card .date{
        font-size: 2vw;
    }
    .carousel-item .card .card-body .card-info .text{
        color: #ebebeb;
        font-size: 1.5vw;
    }

    .main-header-noticias{
        height: 90vw;
    }
    .main-header-noticias .text{
        font-size: 2vw;
        width:  82vw;
    }
    .main-header-noticias .title{
        font-size: 4vw;
    }
    .main-header-noticias img {
        height: 25vw;
        width: 80vw;
        border-radius: 2vw;
    }
    .noticias-content{
        grid-template-columns: 1fr;
    }
    .noticias-card {
        height: 66vw;
    }
    .noticias-card .desc-card{
        height: 20vw;
    }
    .noticias-card .desc-card .title{
        font-size: 2.5vw;
    }
    .noticias-card .desc-card .text{
        font-size: 1.5vw;
    }
    .noticias-card .desc-card .date{
        font-size: 2vw;
    }
}
